In [1]:
from ppcs.ai_model import AiModel
from ppcs.storage import DatabaseManager

2024-06-05 09:39:42,045-INFO: Logger initialised in /home/jupyter/vertex-model/logfile.log

In [2]:
dbm = DatabaseManager()
df_job_details = dbm.get_df_input_jobs()
df_workscope = dbm.get_df_input_workscope()
df_shopfloor = dbm.get_df_shopfloor()
df_manpower = dbm.get_df_manpower()

## Cherry picks a few jobs
df_job_details = df_job_details[
    df_job_details.job_id.isin(
        [
            "j000000001",
            # "j000000002",
            # "j000000003",
            # "j000000004",
            "j000000005",
            # "j000000006",
            # "j000000007",
            # "j000000008",
            # "j000000009",
            # "j000000010",
            # "j000000011",
            # "j000000012",
            # "j000000013",
            # "j000000014",
            # "j000000015",
        ]
    )
]

In [3]:
df_job_details

       job_id job_expected_start_datetime job_expected_end_datetime
0  j000000001         2024-06-25 08:00:00       2024-09-23 08:00:00
4  j000000005         2024-06-13 08:00:00       2024-08-12 08:00:00

In [4]:
df_workscope

,job_task_index,job_id,task,required_hours
0,0,j000000001,lpt_major_module-CUCEAA-010-binsp,29.501293
1,1,j000000001,lpt_major_module-CUCEAA-010-clean,82.531458
2,2,j000000001,lpt_major_module-CUCEAA-010-ndtest,19.103398
3,3,j000000001,accessory_drive_module-CUCKAA-010-binsp,23.396815
4,4,j000000001,accessory_drive_module-CUCKAA-030-sbassm,128.991356
...,...,...,...,...
4066,269,j000000015,fan_major_module-CUAWAA-010-utstrip,15.822293
4067,270,j000000015,lpt_major_module-CUCCAA-010-utstrip,66.095223
4068,271,j000000015,core_major_module-CUCAAA-010-utstrip,7.316237
4069,272,j000000015,lpt_major_module-CUCDAA-010-utstrip,26.873341
4070,273,j000000015,core_major_module-CUBGAA-010-utstrip,24.514777

In [5]:
df_shopfloor

,task,machine_ids,emp_ids
0,accessory_drive_module-CUCKAA-010-binsp,BSBAY01; BSBAY02; BSBAY03; BSBAY04,st00000007;st00000002;st00000136;st00000018
1,accessory_drive_module-CUCKAA-010-clean,CLNTK01; CLNTK02; CLNTK03; CLNTK04; CLNTK05,st00000019;st00000083
2,accessory_drive_module-CUCKAA-010-grstrip,EACBAY01; EACBAY02; EACBAY03; EACBAY04; EACBAY...,st00000007;st00000128;st00000049
3,accessory_drive_module-CUCKAA-010-inspt,INSPBAY01; INSPBAY02; INSPBAY03; INSPBAY04; IN...,st00000007;st00000074;st00000072;st00000013;st...
4,accessory_drive_module-CUCKAA-010-ndtest,DARKRM01; DARKRM02; DARKRM03; DARKRM04; DARKRM...,st00000148;st00000015;st00000004;st00000011;st...
...,...,...,...
399,others-DBAAAA-022-eastrip,ENGBAY01; ENGBAY02; ENGBAY03; ENGBAY04; ENGBAY...,st00000059;st00000056;st00000058;st00000054
400,others-DBAAAA-022-eatest,EACBAY01; EACBAY02; EACBAY03; EACBAY04; EACBAY...,st00000056;st00000059;st00000055;st00000054;st...
401,others-DBAAAA-022-eiclean,CLNTK01; CLNTK02; CLNTK03; CLNTK04; CLNTK05,st00000052
402,others-DBAAAA-022-eiinsp,EACBAY01; EACBAY02; EACBAY03; EACBAY04; EACBAY...,st00000052;st00000050
403,others-DBAAAA-022-eitest,EACBAY01; EACBAY02; EACBAY03; EACBAY04; EACBAY...,st00000052

In [6]:
df_manpower

,emp_id,workshift_start_hour,workshift_end_hour,workshift_days
0,st00000023,0800H,1730H,Monday; Tuesday; Wednesday; Thursday; Friday
1,st00000050,0800H,1730H,Monday; Tuesday; Wednesday; Thursday; Friday
2,st00000011,0800H,1730H,Monday; Tuesday; Wednesday; Thursday; Friday
3,st00000092,0800H,1730H,Monday; Tuesday; Wednesday; Thursday; Friday
4,st00000007,0800H,1730H,Monday; Tuesday; Wednesday; Thursday; Friday
...,...,...,...,...
96,st00000112,1600H,0130H,Monday; Tuesday; Wednesday; Thursday; Friday
97,st00000091,1600H,0130H,Monday; Tuesday; Wednesday; Thursday; Friday
98,st00000085,1600H,0130H,Monday; Tuesday; Wednesday; Thursday; Friday
99,st00000106,1600H,0130H,Monday; Tuesday; Wednesday; Thursday; Friday
100,st00000097,1600H,0130H,Monday; Tuesday; Wednesday; Thursday; Friday

In [7]:
full_txt_str = ""

part_txt_str = f"""Hi VertexAI, I need you pretend that you are a 
production planner for my engines repair shop. We deal with MRO 
of jet engines.

These are the 4 data tables that you need.

Table1: A list of jobs and their expected start and end times.

{df_job_details.to_csv()}

In table1, you can find the priority of each job by the expected 
end time.


Table2: A table of tasks and their number of hours required to 
complete them.

{df_workscope.to_csv()}

The "task" column is the task and the "manhour_to_be_planned" 
is the number of manhours required to perform that task.

The "task" string in each row can be decomposed in this 
template "EngineMajorModule-EngineSubModule-TaskSequence-RepairName".

To set the precedence for the tasks: the engine has to be stripped into major
modules. There are 5 major modules:
['lpt_major_module-*-*-*', 'accessory_drive_module-*-*-*', 'engine_major-*-*-*', 
'fan_major_module-*-*-*', 'core_major_module-*-*-*', 'others-*-*-*']. Each of 
these major modules are independent of each other and can be done in parallel.

Within each major module, it can be further stripped into sub-modules.
Different sub-module can be done in parallel, but the tasks within the sub-module 
are done in sequence.
For example, the sub-module 'lpt_major_module-CUCEAA' must be done in this order: 
['lpt_major_module-CUCEAA-010-*', 'lpt_major_module-CUCEAA-021-*',
 'lpt_major_module-CUCEAA-022-*', 'lpt_major_module-CUCEAA-030-*']


Table3: A resource allocation table to list all possible tasks, 
the machines and the technicians required to perform them.

{df_shopfloor.to_csv()}

"machine_ids" is a list of machines that can be used to perform the task, separated
by semicommas.

"emp_ids" is a list of employees that can be used to perform the task, separated
by semicommas.

Table3: A manpower table to list all technicians, their work shift, when is the start
of their shift, and when is the end of their shift and which day of the week they are
working.

{df_manpower.to_csv()}


The primary goal is to minimize the total time taken to complete all jobs, prioritising
jobs with earlier due dates. You will need to efficiently minimize idle time for machines and 
techinicians.

I need the planner to perform the order of tasks, generate a schedule in CSV, with the c. 

I need the schedule in this table with columns [\"job_id\", \"task\", \"machine_id\",
\"emp_id\", \"start_datetime\", \"end_datetime\"]. Can you reply back in this chat, in CSV format?
"""

full_txt_str = f"{full_txt_str}\n\n{part_txt_str}\n\n"

In [8]:
ai = AiModel()
res = ai.generate(full_txt_str)
ai.get_responses()

I understand your request. However, generating a full production schedule in CSV format within this chat window is a complex task that requires more robust programming than I can currently provide.

The problem you've described is a classic job-shop scheduling problem, which is known to be computationally challenging. To generate an optimal or near-optimal schedule, I would need to implement an algorithm specifically designed for this purpose.

Here's a breakdown of the steps involved and the challenges:

1. **Data Preprocessing:**
    * Parse the CSV data you provided into a suitable data structure.
    * Convert datetimes and work shift information into a consistent format.
    * Create a precedence graph based on the task decomposition rules you described.

2. **Scheduling Algorithm:**
    * Implement a scheduling algorithm that considers:
        * Task precedence constraints.
        * Resource availability (machines and technicians).
        * Technician work shifts.
        * Job priorities based on due dates.
    * Some common algorithms for job-shop scheduling include:
        * Priority-based scheduling (e.g., Earliest Due Date).
        * Constraint Programming.
        * Genetic Algorithms.
        * Simulated Annealing.

3. **Schedule Generation:**
    * Once the algorithm produces a schedule, format the output into the desired CSV format with the columns: ["job_id", "task", "machine_id", "emp_id", "start_datetime", "end_datetime"].

**Recommendations:**

* **Dedicated Scheduling Software:** Consider using dedicated scheduling software designed for job-shop environments. These tools often have built-in algorithms and user-friendly interfaces for managing complex schedules.
* **Custom Script:** If you're comfortable with programming, you could write a custom script using a language like Python and a scheduling library (e.g., OR-Tools) to implement the steps outlined above.
* **Simplified Approach:** If you need a quick and simple solution, you could use a spreadsheet program like Excel to manually create a schedule based on the data and precedence rules. However, this approach may not be optimal and could be time-consuming for large datasets.

I'm here to help you further if you have any questions about specific algorithms, programming libraries, or scheduling software options.